/* Google Fonts Import for Storybook */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600&family=IBM+Plex+Sans:wght@400;600&display=swap');

/* Base styles for Storybook canvas */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
